.headerflex {
  display: flex;
  background: rgba(0, 128, 128, 0.8);
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.headerlogo {
  margin: 0 auto;
  cursor: pointer;
  font-size: 3rem;
  font-family: "Tangerine", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerlogo img {
  height: 8vh;
  margin-right: 1rem;
}

.headerlogo img:hover {
  transform: unset;
  box-shadow: unset;
}
.headernav {
  margin: 0 auto;
}
.headernav ul {
  display: flex;

  align-items: center;
}

.headernav li {
  list-style: none;
  font-size: 1.5rem;
  margin-left: 2rem;
  cursor: pointer;
  font-family: "Merienda One", cursive;
}

.headernav li:nth-of-type(4) {
  font-size: 2.5rem;
  color: #1f4aa7;
}
.headernav li:nth-of-type(5) {
  font-size: 2.5rem;
  color: rgb(129, 52, 175);
}

.headernav li:hover {
  animation-name: navbarhover;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes navbarhover {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(-5px);
  }
  80% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}
