.blog {
  background: teal;
  padding: 2rem 0;
}
.blogflex {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
  background: rgba(135, 206, 235, 1);
  border-radius: 50px 0 50px 0;
}
.flex_date {
  margin: 0 auto;
  padding: 2rem;
  background: rgba(255, 99, 71, 0.7);
  border-radius: 10px 0 0 10px;
  align-self: center;
}

.flex_blog {
  margin: 0 auto;
  padding: 2rem;
}
